{% extends "eventshome.html" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block categories %}
	<section class="search-categories container my-5">
        <h2 class="text-center mb-4">Browse Categories</h2>
        <div class="row">
            <!-- Category 1 -->
            <div class="col-md-6">
                <a href="{{ url_for('events.category_events', category_id=1) }}" class="category-link">
                    <img src="{{ url_for('static',filename='images/concert-category.jpg')}}" alt="Concerts">
                    <h3>Concerts</h3>
                </a>
            </div>

        <!-- Category 2 -->
            <div class="col-md-6">
                <a href="{{ url_for('events.category_events', category_id=2) }}" class="category-link">
                    <img src="{{ url_for('static',filename='images/sport-category.jpg')}}" alt="Sports">
                    <h3>Sports</h3>
                </a>
            </div>

        <!-- Category 3 -->
            <div class="col-md-6">
                <a href="{{ url_for('events.category_events', category_id=3) }}" class="category-link">
                    <img src="{{ url_for('static',filename='images/festival-category.jpg')}}" alt="Festivals">
                    <h3>Festivals</h3>
                </a>
            </div>

        <!-- Category 4 -->
            <div class="col-md-6">
                <a href="{{ url_for('events.category_events', category_id=4) }}" class="category-link">
                    <img src="{{ url_for('static',filename='images/theatre-category.jpg')}}" alt="Theatre">
                    <h3>Theater</h3>
                </a>
            </div>
        </div>
    </section>
{% endblock %}

